<% if current_user.role == "admin" %>
  <h1>Create new seat</h1>
  <%= form_with model: @seat do |form| %>

    <div>
      <%= form.label :seatnumber %>
      <%= form.text_field :seatnumber %>
    </div>

    <div class="form-group">
      <h1>select your cinema for seat</h1>
        <%= form.label :cinema_id %>
        <%= form.collection_select :cinema_id, Cinema.order(:name),:id,:name %>
    </div>

    <div>
      <%= form.submit %>
    </div>
  <% end %>
<% end %>