<h3> Select your seat for this show </h3>

<div class="row">
  <% @seats.each do |seat| %>
    <div class="col-md-1">
      <div class="card ">
        <div class="card-body <%= 'myClass disable' if @booked_value.include?(seat.id) %>" >
          <a class="seat-link" href="" data-seat-number="<%= seat.seatnumber %>"><%= seat.seatnumber %>
          </a>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class = "action">
    <div type="" name="seatNumber" id = "price" ></div>
    <%= hidden_field_tag 'showtime_id', params[:showtime_id], id: "showtime_field"  %>
    <%= hidden_field_tag 'movie_id', params[:movie_id] , id: "movie_field"%>
    <%= hidden_field_tag 'cinema_id', params[:cinema_id], id: "cinema_field" %>
    <%= hidden_field_tag 'price_value', id: "price_value" %>
    <br>
    <button onclick ="seatNumber()">sumbit</button>
</div>

<script type="text/javascript">
  var selectedSeats = [];
  var seatPrice = 100;
  var price = [];
  var seatLinks = document.querySelectorAll('.seat-link');
    seatLinks.forEach(function(seatLink) {
      seatLink.addEventListener('click', function(event) {
       seatLink.parentElement.classList.toggle('myClass');
        event.preventDefault();
          var seatNumber = this.getAttribute('data-seat-number');
          if (selectedSeats.includes(seatNumber)) {
            selectedSeats = selectedSeats.filter(function(seat) {
               return seat !== seatNumber;
            });
          }else {
            selectedSeats.push(seatNumber);
          }
            updateTotalPrice();
        });
      });


  function updateTotalPrice() {
    var totalPrice = selectedSeats.length * seatPrice;
    var price = document.getElementById('price').innerText = totalPrice.toFixed(2);
    document.getElementById('price_value').value = price;
  }

  function seatNumber(){
  var showtime =  document.getElementById("showtime_field").value;
  var movie = document.getElementById("movie_field").value;
  var cinema = document.getElementById("cinema_field").value;
  var price = document.getElementById("price_value").value;
    $.ajax({
      url: "/show_seat",
      type: "POST",
      dataType: 'script',
      data: {seats: selectedSeats, showtime: showtime, movie: movie, cinema: cinema, price: price},
      success: function(data) {
      },
    });
  }

</script>


<style type="text/css">
  .myClass {
  background-color: red;
  color: white;
  font-size: 20px;
  }

  .disable{
    background-color: grey;
    opacity: 0.5;
    pointer-events: none;
  }
  body {
  background-color: lightblue;
  }
</style>


