<h3>ticket information</h3>
<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>
<p>seatnumber:<%= @seats.map{|seat| seat.to_i} %></p>
<p>showtime:<%= @seat.showtime.startime.strftime('%I:%M %p') %></p>
<p>cinema name:<%= @seat.cinema.name %></p>
<p>movie name:<%= @seat.movie.name %></p>
<p>price: <%= @seat.price %></p>
