<h1>ticket information</h1>

<p><%= flash[:notice] %></p>

<p>seatnumber:<%= @seats.map{|seat| seat.to_i} %></p>
<p>showtime:<%= @seat.showtime.startime.strftime('%I:%M %p') %></p>
<p>cinema name:<%= @seat.cinema.name %></p>
<p>movie name:<%= @seat.movie.name %></p>
<p>price: <%= @seat.price %></p>
