<% if current_user.role == "admin" %>
  <%= form_with url: '/cinema_movie', method: :GET do |form| %>

    <div class="form-group">
      <h1>select your cinema</h1>
        <%= form.label :cinema_id %>
        <%= form.collection_select :cinema_id, Cinema.order(:name),:id,:name %>
    </div>

    <div class= "form-group">
      <h1>select your movie</h1>
      <%= form.label :movie_id %>
      <%= form.collection_select :movie_id, Movie.order(:name),:id,:name %>
    <div>

    <div class = "action">
       <%= form.submit %>
    </div>
    <%= link_to "back", cinema_movie_index_path %>
  <% end %>
<% end %>