<% if user_signed_in? %>
  <div>
    Welcome <%= current_user.email %>
    <%= button_to "Sign out", destroy_user_session_path, method: :delete %>
    <%# = button_to "edit",   edit_user_registration_path , method: :get %>
  </div>
<% else %>
  <%= button_to "Sign in", new_user_session_path %>
<% end %>

<%= render partial: "shared/city" %>

<div class="form-group">
  <input type="text"  name="movie" id="movies" value = '' placeholder = "search for your movie" />
  <button onclick="showMovie()">search</button>
</div>


<div class="row">
  <% @movies.each do |movie| %>
    <div class="col-md-2">
      <div class="card" style="height: 400px; width: 300px; margin: 20px;">
        <% if movie.avatar.attached? %>
          <%= image_tag(url_for(movie.avatar)) %>
        <% end %>
        <div class="card-body">
          <h5 class="card-title">movie name: <%= movie.name %></h5>
          <h5 class="card-text">movie description: <%= movie.description %></h5>
          <p class="card-text"><%= link_to "Book Ticket", show_cinema_cinemas_path(movie_id: movie.id, city_id: @city.id) %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>

<script type="text/javascript">
function showMovie(){
    var movie = document.getElementById('movies').value;
    var city = "<%= @city.id %>"
    $.ajax({
      url: "/dashboards/search_movie",
      type: "GET",
      dataType: 'script',
      data: {
        movie: movie,
        city: city
      },
      success: function(data) {
      },
      error: function(error) {
        alert('Could not found');
        }
    });
  }
</script>








