<%= form_with model: @city do |form| %>
  <ul>
    <% @city.errors.each do |error| %>
      <li><%= error.full_message %></li>
    <% end %>
  </ul>
  <br>
  <div>
    <%= form.label :name  %>
    <%= form.text_field :name %>
  </div>
  <br>
  <div>
    <%= form.label :state %>
    <%= form.text_area :state %>
  </div>
  <br>
  <div>
    <%= form.label :country %>
    <%= form.text_area :country %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>


